
  <tr>
    <td>
      <%= image_tag l_image %>
    </td>
    <td>
      <h4><%= l_name %></h4>
      <br>
      <p><%= l_description %></p>
    </td>
    <td> 
      <%= l_quantity %>
    </td>
  </tr>
